#product {
    position: relative;
    float: left;
    width: 20%;
}

button {
    background-color: teal;
}

body {
    background-color: grey;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: teal;
    width: 15%;
    margin: 0 auto;
    border-radius: 25px;

}